@use "../utils" as *;

.flex-layout {
	@include flex($align: center, $gap: $pc-layout-gap);
	@include media-tablet {
		flex-direction: column;
	}
	&--rwd-mobile {
		@include media-tablet {
			flex-direction: row;
		}
		@include media-mobile {
			flex-direction: column;
		}
	}
	&--rmd-laptop {
		@include media-laptop {
			flex-direction: column;
		}
	}
	&--align-top {
		align-items: flex-start;
	}
	&--text {
		gap: 0;
	}
	&__item {
		width: 100%;
		flex: 1 0 0;
	}
}
