@use "../utils" as *;

.gallery-card {
	aspect-ratio: 8 /5;
	background: center center / cover no-repeat #ccc;
	&__wrapper {
		@include flex($direction: column, $justify: flex-end);
		width: 100%;
		height: 100%;
		padding: 1.5em;
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgb(17, 17, 17) 100%);
	}
	&__date {
		color: #dbdbdb;
	}
	&__title {
		@include body-2;
		color: #ffffff;
	}
}
