@use "../utils" as *;
@use "sass:math";

@mixin calc-video-ratio($width: 16, $height: 9) {
	$calc-ratio: math.div($width, $height);

	& > .oxygen-vsb-responsive-video-wrapper {
		@include flex($justify: center, $align: center);
		width: 100%;
		height: 100%;
		padding: 0 !important;
		container-name: video-ratio;
		container-type: size;
		& > iframe {
			position: relative;
			aspect-ratio: #{$width}/#{$height};
			width: 110%;
			height: auto;
			@container video-ratio (aspect-ratio <= #{$calc-ratio}) {
				width: auto;
				height: 110%;
			}
		}
	}
}

.media-background {
	position: relative;
	overflow: hidden;

	&__background {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background: center center / cover no-repeat;
		@include flex($justify: center, $align: center);
		.ct-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&--video {
			@include calc-video-ratio(16, 9);
		}
		&--video-cinematic {
			@include calc-video-ratio(21, 9);
		}
		&--video-full-screen {
			@include calc-video-ratio(3.5, 3);
		}
	}
	&__content {
		position: relative;
		width: 100%;
		color: #fff;
		background-color: hsl(0deg 0% 0% / 50%);
	}
}
