@function vh($value) {
	@return calc(var(--vh, 1svh) * #{$value});
}

@function calc-grid($number) {
	$col: $pc-layout-col;
	$gap: $pc-layout-gap;
	$margin: $layout-margin;

	@return $number * ($col + $gap) - $gap;
}
