@use "./variables" as *;
@use "./media" as *;

@mixin flex($justify: normal, $align: normal, $direction: row, $gap: initial, $wrap: nowrap) {
	display: flex;
	@if $justify {
		justify-content: $justify;
	}
	@if $align {
		align-items: $align;
	}
	@if $direction {
		flex-direction: $direction;
	}
	@if $gap {
		gap: $gap;
	}
	@if $wrap {
		flex-wrap: $wrap;
	}
}

@mixin absolute($top: initial, $left: initial, $bottom: initial, $right: initial) {
	position: absolute;
	@if $top {
		top: $top;
	}
	@if $left {
		left: $left;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $right {
		right: $right;
	}
}

@mixin fixed($top: initial, $left: initial, $bottom: initial, $right: initial) {
	position: fixed;
	@if $top {
		top: $top;
	}
	@if $left {
		left: $left;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $right {
		right: $right;
	}
}

@mixin font-montserrat {
	font-family: "Montserrat", "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@mixin font-monument {
	font-family: "PPMonumentExtended", "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@mixin heading-2 {
	font-weight: 700;
	@include font-monument();
	font-size: 28px;
	line-height: 1.3;
}

@mixin body-1 {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6em;
}

@mixin body-2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 1.3em;
}

@mixin calc-column-width($number, $wide-width: false) {
	$col: $pc-layout-col;
	$gap: $pc-layout-gap;
	$margin: $layout-margin;

	$calc-width: $number * $col + ($number - 1) * $gap;

	@if ($wide-width) {
		width: min(100%, $calc-width);
	} @else {
		width: min($max-width, $calc-width);
	}
}

@mixin section-padding($side-padding: 0) {
	padding: 160px $side-padding;
	margin: 0 auto;
	@include media-tablet() {
		padding: 80px $side-padding;
	}
}
