@use "../utils" as *;

.aftercare {
	&-card {
		@include flex;
		height: 450px;
		&-wrapper {
			padding: 80px 0;
			@include flex($gap: 120px, $direction: column);
		}
		&__content {
			z-index: 1;
		}
		&__container {
			position: relative;
			width: min(80%, 890px);
			@include flex($align: center);
		}
		&__background {
			position: absolute;
			width: 90%;
			height: 100%;
			overflow: hidden;
			border-radius: 4em;
		}
	}
	&--align-right {
		.aftercare-card {
			&__conttainer {
				margin-left: auto;
			}
			&__background {
				right: 0;
			}
		}
	}
}
