@use "../utils" as *;

body {
	font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	letter-spacing: -0.025em;
	font-weight: normal;
	font-size: min(3vw, 16px) !important;
	line-height: 1.6em;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
}

// lenis recommemded css
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: clip;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

.remove-rwd-mobile {
	@include media-mobile {
		display: none;
	}
}

.remove-rwd-tablet {
	@include media-tablet {
		display: none;
	}
}

// reset oxygen class
.main {
	& > .ct-section-inner-wrap {
		width: 100%;
	}
}

.button {
	&-default-style {
		font-size: 1.25em;
		padding: 0.4em 2em;
		border: 1px solid currentColor;
		border-radius: 2px;
	}
}

.info-modal {
	@include flex($align: center, $justify: center);
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	visibility: hidden;
	color: $white;
	background: #000000ef;
	line-height: 2;
	&--open {
		visibility: visible;
		z-index: 10;
	}
}
