@use "../utils" as *;

body {
	font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
		system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", sans-serif;
	@include body-1;
	letter-spacing: -0.025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main {
	color: #ffffff;
	background-color: #141414;
	min-height: 100vh;
	& > .ct-section-inner-wrap {
		width: 100%;
		padding: 0;
	}
}

.section {
	& > .ct-section-inner-wrap {
		@include flex($direction: column);
		@include calc-column-width(8);
		margin: 0 auto;
		padding: 160px 0;
	}
}

.headline-box {
	@include calc-column-width(5);
	margin-right: auto;
	&__index {
		@include font-monument;
	}
	&__head {
		font-size: 48px;
		font-weight: bold;
		line-height: 1.3;
	}
	&__body {
		@include body-1;
	}
}
