@use "../utils" as *;

body {
	font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
		system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", sans-serif;
}

.main {
	color: #ffffff;
	background-color: #141414;
	min-height: 100vh;
	& > .ct-section-inner-wrap {
		width: 100%;
		padding: 0;
	}
}
