@use "../utils" as *;

.contact {
	& > .ct-section-inner-wrap {
		@include flex($align: stretch);
		max-width: 100%;
		min-height: 100vh;
	}
	&__col {
		flex: 1 0 0;
		@include flex();
		color: #525252;
		background-color: #f4f4f4;
		&--form {
			@include flex(
				$align: center,
				$justify: center,
				$direction: column,
				$gap: 64px
			);
			@include section-padding;
		}
	}
	&-form {
		&__title {
			@include font-monument;
			font-size: 32px;
			color: #141414;
			padding-bottom: 16px;
			text-align: center;
		}
		&__input-wrapper {
			@include flex($direction: column);
		}
		&__2cols {
			@include flex($direction: row, $gap: 30px);
			&--inner {
				gap: 0.5em;
			}
			.wpcf7-not-valid-tip {
				@include absolute($left: 0, $top: 2em);
			}
		}
		&__label {
			font-weight: 400;
			color: #525252;
		}
		.wpcf7-form {
			font-size: 16px;
			@include flex($direction: column, $gap: 3em 30px, $align: space-between);
			button,
			input,
			optgroup,
			select,
			textarea {
				width: 100%;
				font-weight: 700;
				font-size: 20px;
				background-color: initial;
				padding: 0.5em;
				border: 0;
			}
			input[type="text"],
			input[type="tel"],
			textarea {
				border-bottom: 1px solid #141414;
				&:focus {
					background-color: #ffffff;
					outline: none;
				}
			}
			[type="radio"] {
				display: none;
				border: 1px solid #525252;
				&:checked + .wpcf7-list-item-label {
					color: #ffffff;
					background-color: #525252;
				}
			}
			&-control-wrap {
				flex: 1 0 100%;
			}
		}
	}
	.ct-slide {
		background: center center / cover no-repeat;
		filter: grayscale(1);
	}
}
