@use "../utils" as *;

.contact {
	& > .ct-section-inner-wrap {
		@include flex($align: stretch);
		max-width: 100%;
		min-height: 100vh;
		@include media-tablet {
			flex-direction: column;
		}
	}
	&__col {
		flex: 1 0 0;
		@include flex();
		width: 100%;
		color: #525252;
		background-color: #f4f4f4;
		&--form {
			@include flex($align: center, $justify: center, $direction: column, $gap: 64px);
			@include section-padding($layout-margin);
		}
	}
	&-form {
		&__head {
			text-align: center;
		}
		&__title {
			@include font-monument;
			font-size: 32px;
			color: #141414;
			padding-bottom: 16px;
			text-align: center;
		}
		&__input-wrapper {
			@include flex($direction: column);
			&--submit {
				text-align: center;
				gap: 10px;
			}
		}
		&__2cols {
			@include flex($direction: row, $gap: $pc-layout-gap);
			@include media-laptop {
				gap: 0.5em;
			}
			&--inner {
				gap: 0.5em;
			}
			&--media-laptop {
				@include media-laptop {
					flex-direction: column;
					gap: 3em;
				}
			}
			& > * {
				flex: 1 1 0;
			}
			.wpcf7-not-valid-tip {
				@include absolute($left: 0);
			}
		}
		&__label {
			font-weight: 400;
			color: #525252;
			margin-bottom: 10px;
		}
		&__open-modal {
			text-decoration: underline;
		}
		.wpcf7-form {
			font-size: 16px;
			@include flex($direction: column, $gap: 3em $pc-layout-gap);
			@include calc-column-width(8, $wide-width: true);

			@mixin default-input-style() {
				font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
					"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: -0.025em;
				background-color: initial;
				padding: 0.5em;
				border: 0;
				color: #141414;
				&:focus {
					background-color: #ffffff;
					outline: none;
				}
			}

			&__open-modal {
				text-decoration: underline;
			}
			.wpcf7-text,
			.wpcf7-textarea {
				@include default-input-style();
				width: 100%;
				line-height: 2em;
				border-bottom: 1px solid #141414;
			}
			[type="radio"] {
				display: none;
				border: 1px solid #525252;
				&:checked + .wpcf7-list-item-label {
					color: #ffffff;
					background-color: #525252;
				}
			}
			.wpcf7-date,
			.wpcf7-select {
				@include default-input-style();
				width: 100%;
				text-align: center;
				border: 1px solid #525252;
				border-radius: 4px;
			}
			.wpcf7-radio {
				@include flex($gap: $pc-layout-gap);
				.wpcf7-list-item {
					flex: 1 1 0;
					margin: 0;
				}
				.wpcf7-list-item-label {
					display: block;
					width: 100%;
					font-weight: 700;
					text-align: center;
					padding: 0.5em;
					border: 1px solid #525252;
					border-radius: 30px;
				}
			}
			.wpcf7-submit {
				font-weight: 700;
				font-size: 18px;
				padding: 1em;
				border-radius: 5em;
				color: #ffffff;
				background-color: $primary-color;
				border: 0;
				&:disabled {
					opacity: 0.7;
				}
			}
		}
	}
	.swiper-slide {
		background: center center / cover no-repeat;
		filter: grayscale(1);
		pointer-events: none;
	}
}

.agreement-modal {
	@include flex($align: center, $justify: center);
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background: #000000ef;
	line-height: 2;
	&--open {
		visibility: visible;
		z-index: 10;
	}
}
