@use "../utils" as *;

.contact {
	& > .ct-section-inner-wrap {
		@include flex($align: stretch);
		max-width: 100%;
		min-height: 100vh;
	}
	&__col {
		flex: 1 0 0;
		@include flex();
		color: #525252;
		background-color: #f4f4f4;
		&--form {
			@include flex($align: center);
		}
	}
	.ct-slide {
		background: center center / cover no-repeat;
		filter: grayscale(1);
	}
}
