@use "../utils" as *;

.footer {
	line-height: 2;
	padding: 120px 0;
	background-color: #f5f5f5;

	& > .ct-section-inner-wrap {
		font-size: 13px;
		display: flex;
		justify-content: space-between;
		gap: 24px;
	}
	&__title {
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}
	&__column {
		& > * {
			margin: 2em 0;
		}
	}
}
