@use "../utils" as *;

.home {
	&-intro {
		@include flex($direction: column, $justify: center, $align: center);
		text-align: center;
		height: 90vh;
		backdrop-filter: blur(5px);
		.ct-image {
			height: 7.5rem;
			margin-bottom: 3rem;
		}
		.ct-headline {
			color: $primary-color;
			font-size: 2.25rem;
			line-height: 1.3;
			@include font-monument;
			b {
				color: #fff;
				font-size: 3rem;
			}
		}
		.ct-text-block {
			@include font-montserrat;
			text-transform: uppercase;
			font-size: 1.25rem;
		}
	}
	&-booth-gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		&__item {
			&--expand {
				grid-column: 1/4;
			}
		}
	}
	&-product {
		@include flex($direction: column, $gap: 2em);
		.ct-headline {
			color: $primary-color;
			font-size: 2em;
		}
	}
	&-industry {
		@include flex($justify: center, $align: center);
		.ct-headline {
			color: #fff;
			position: absolute;
			font-size: min(2.5em, 48px);
			@include font-monument;
		}
	}
}
