@use "../utils" as *;

.wide-frame {
	border-radius: 2rem;
	overflow: hidden;
}

.introduce-frame {
	position: relative;
	&:hover {
		.introduce-frame__content {
			background-color: rgb(217 26 131 / 75%);
		}
	}
	&::after {
		z-index: 1;
		position: absolute;
		top: min(2rem, 4vw);
		right: min(2rem, 4vw);
		width: min(3rem, 6vw);
		height: min(3rem, 6vw);
		background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2036%2038%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C/style%3E%3C/defs%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2236%2018%2019%2018%2019%200%2017%200%2017%2018%200%2018%200%2020%2017%2020%2017%2038%2019%2038%2019%2020%2036%2020%2036%2018%22/%3E%3C/svg%3E");
		content: "";
	}
	&__content {
		color: #fff;
		z-index: 1;
		background-color: #00000080;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 2rem;
		font-size: min(4.5vw, 36px);
		line-height: 1.3;
		font-weight: 700;
		display: flex;
		position: absolute;
		transition: background-color 0.15s;
		will-change: background-color;
	}
	&__background {
		position: absolute;
		height: 100%;
		& > .ct-image {
			width: 100%;
			height: 150%;
			object-fit: cover;
		}
	}
}
