@use "../utils" as *;

.package-slider {
	&__card {
		width: 540px;
		background-color: #ffffff;
		a {
			color: #111111;
		}
		h3,
		& h3 > span {
			@include heading-2();
		}
	}
}

.filter-model {
	list-style: none;
	@include calc-column-width(10);
	@include flex();
	gap: 14px;
}

.price-tag {
	&__item {
		@include flex();
	}
}
