@use "../utils" as *;

.page-id-15 .section:not(.footer) {
	color: #ffffff;
	background-color: #141414;
}

.package {
	&-slider {
		color: #ffffff;
		background-color: #141414;
		&__label {
			color: #666;
		}
		&__controllers {
			@include calc-column-width(10);
			@include flex($justify: space-between, $align: center);
			margin: 0 auto;
			padding-bottom: 80px;
		}
	}
	&-card {
		display: block;
		container-type: inline-size;
		width: min(50vw, 540px);
		background: center right / auto 70% no-repeat #fff;
		padding: min(3.5vw, 28px);
		border-radius: 28px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
		overflow: hidden;
		@include media-tablet {
			background-position: left bottom;
		}
		&--inactive {
			display: none;
		}
		&__wrapper {
			flex-wrap: nowrap;
			align-items: flex-start;
			text-align: left;
			gap: 1em;
			height: 100%;
			background-image: linear-gradient(90deg, #ffffff, transparent);
			aspect-ratio: 2 / 1;
			@container (max-width:380px) {
				aspect-ratio: 0.65;
				justify-content: flex-start;
				background: none;
			}
		}
		&__options {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2em;
		}
		a {
			color: #111111;
		}
		h3 {
			.ct-span {
				width: min(360px, 100%);
				font-weight: 700;
				@include font-monument();
				font-size: min(5vw, 28px);
				line-height: 1.3;
				span {
					white-space: nowrap;
				}
			}
		}
	}
	&-receipt {
		@include flex($gap: $pc-layout-gap);
		&__item {
			flex: 1 0 0;
			padding: 64px 48px;
			border-radius: 32px;
			box-shadow: 0px 10px 20px #4d4d4d63;
			background: center center / cover no-repeat;
			.ct-headline {
				@include font-monument;
				font-weight: 400;
				font-size: min(7vw, 32px);
				margin-bottom: 1em;
			}
		}
		&__table {
			@include flex($direction: column, $gap: 2em);
			&-row {
				@include flex($justify: space-between);
				&--discount {
					font-size: min(4vw, 20px);
					font-weight: 700;
					padding: 1em;
					margin-top: 1em;
					color: #0c0c0c;
					background-color: #fff;
				}
				.ct-text-block {
					max-width: 60%;
				}
			}
		}
		&__line-through {
			text-decoration: line-through;
		}
	}
	&-option {
		@include calc-column-width(4);
		@include flex($direction: column, $gap: 1.5em);
		.ct-text-block {
			text-align: center;
			flex: 1 0 0;
			padding: 1em;
			border: 1px solid #fff;
			border-radius: 64px;
		}
	}
	&-visual {
		height: vh(96);
		background-attachment: fixed;
		.ct-section-inner-wrap {
			@include flex($justify: space-between, $align: center, $wrap: wrap, $gap: 2em);
			height: 100%;
		}
		&__desc {
			.ct-text-block {
				font-size: 2em;
				padding-bottom: 1em;
				font-weight: 700;
				line-height: 1.25;
			}
		}
	}
}

.visual-title {
	@include flex($direction: column);
	@include font-monument;
	font-size: min(10vw, 96px);
	line-height: 1;
	&__mask {
		overflow: hidden;
	}
	&__content {
		display: block;
		&--strong {
			font-weight: 400;
			font-style: italic;
		}
	}
}

.filter-model {
	@include flex($gap: 14px);
	&__item {
		opacity: 0.7;
		font-weight: bold;
		font-size: 18px;
		cursor: pointer;
		&--active {
			opacity: 1;
		}
	}
}

.price-tag {
	color: #333;
	&__item {
		font-size: min(3.5vw, 16px);
		@include font-montserrat;
		@include flex($align: center, $gap: 0.5em);
	}
	&__title {
		opacity: 0.7;
	}
}
