@use "../utils" as *;

.package-slider {
	&__card {
		width: 540px;
		background-color: #ffffff;
		a {
			color: #111111;
		}
		h3,
		& h3 > span {
			@include heading-2();
		}
	}
	&__controllers {
		@include calc-column-width(10);
		@include flex($justify: "space-between");
		margin: 0 auto;
		padding-bottom: 80px;
	}
}

.filter-model {
	@include flex();
	gap: 14px;
	&__item {
		font-size: 18px;
		&--active {
			font-weight: bold;
		}
	}
}

.price-tag {
	&__item {
		@include flex();
	}
}
