@use "../utils" as *;

.review {
	&-document {
		.kboard-document-wrap {
			background-color: initial;
		}
		.kboard-detail {
			@include flex($justify: space-between);
			border-bottom: 1px solid #ffffff;
			padding: 1em 0;
			margin-bottom: 2em;
			.detail-attr {
				@include flex($gap: 1em);
				.detail-name {
					color: #f0f0f0;
				}
				.detail-value {
					font-weight: 700;
					color: #f5f5f5;
				}
			}
		}
		.kboard-title h1 {
			color: #ffffff;
			font-size: 32px;
			line-height: 1.3;
		}
		.kboard-content {
			margin: 3em auto;
		}
		.kboard-document-navi,
		.kboard-control {
			@include flex($justify: space-between);
			margin: 1em;
		}
		&__more {
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			text-align: center;
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3em $pc-layout-gap;
		margin-bottom: 3em;
		@include media-laptop {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media-mobile {
			grid-template-columns: 1fr;
		}
	}
}

.kboard-pagination-pages {
	@include flex($gap: 1em, $justify: center);
}

.content-view {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
	p {
		margin: 1em;
	}
	ul,
	ol {
		list-style: initial;
		padding-inline-start: 1em;
	}
}
